<%= form_with model: [receiver, message], data: { turbo: true } do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: 'Type a message...', rows: 3 %>
  </div>
  <div class="actions">
    <%= f.submit 'Send' %>
  </div>
<% end %>
