
<p>Hello <%= @receiver.full_name %>,</p>

<p>You’ve received a new message on <strong>Produce Bridge</strong>!</p>

<p><strong>Message:</strong></p>
<blockquote>
  <%= @message.content %>
</blockquote>

<p>You can log in to your account to reply.</p>

<p>Thanks,<br>
The Produce Bridge Team</p>
